# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gitlab\rabbitmq\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.vscode/
.idea/
.vscode/
target/
.classpath
.project
.settings/

